<meta charset="UTF-8" />
<title><%=title%></title>
<script src="<%=asset.mainJs%>"></script>
<link rel="stylesheet" href="<%=asset.mainCss%>">
<style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
        background: #dcdcdc;
    }
    .well{
        background: #ffffff;
    }
    .item_tag {
        background: #FF5F83;
        color: #FFF;
        line-height:15px;
        padding: 4px;
        border-radius:3px 3px 3px 3px;
    }
    .item_tag:hover {
        background-color: #f31e4e;
        color: #FFF;
        text-decoration:none;
    }
    .item_tag_add {
        display: inline-block;
    }
</style>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner" style="background: #ffffff;">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/"><%=title%></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="<% if(user.is_login == true) { %>/topic/new<% }else{ %>#login<% } %>" data-toggle="modal">+话题</a></li>
                    <li><a href="/tags">标签</a></li>
                </ul>
                <ul class="nav pull-right">
                    <%
                        if(user.is_login == false) {
                    %>
                    <li><a href="/#login" data-toggle="modal" style="color: #049cdb;">登录</a> </li>
                    <li><a href="/signin" style="color: #049cdb;">注册</a> </li>
                    <%
                        }else {
                    %>
                    <li><a href="/user<%=user._id%>" style="color: #049cdb;"><%=user.email%></a> </li>
                    <li><a href="/logout" style="color: #049cdb;">注销</a> </li>
                    <%
                        }
                    %>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

</div>
