<!DOCTYPE html>
<html>
    <body>
        <%- include header %>
        <%- include login %>
        <!--页面body部分-->
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="well">
                        <p><strong>最新话题</strong></p>
                        <%
                            var len = list.length;
                            for(i=0;i<len;i++) {
                                var item = list[i];
                        %>
                        <hr>
                        <div class="text" style="">
                            <a class="pull-left" href="/user/<%=item.createBy%>">
                                <img class="img-rounded" style="width: 26px;height: 26px;" src="http://avatar.youqu.de/16106.1404026495.jpg">
                            </a>
                            <div class="" style="line-height: 26px; padding-left: 50px;">
                                <a href="/topic/<%=item._id%>"><%=item.title%></a>
                                <span class="pull-right" style="font-size: 12px;color: #949494;"><%=item.friendly_createOn%></span>
                                <%
                                    if(item.tag) {
                                %>
                                <p>
                                    <a href="/tag/<%=item.tag%>" class="item_tag item_tag_add" style=""><%=item.tag%></a>
                                </p>
                                <%
                                    }
                                %>
                            </div>
                        </div>
                        <%
                            }
                        %>

                    </div>
                </div>
                <%- include slider %>
            </div>
            <%- include footer %>
        </div>
    </body>
</html>
<!--<script>-->
    <!--$(function() {-->
        <!--$('.text').hover(function() {-->
            <!--$('#remove').attr('style','display:inline');-->
        <!--})-->
        <!--$('.text').mouseleave(function() {-->
            <!--$('#remove').attr('style','display:none');-->
        <!--})-->
    <!--})-->
<!--</script>-->
