<!DOCTYPE html>
<html>
<body>
<%- include header %>
<%- include login %>
<!--页面body部分-->
<div class="container"> 
    <div class="row">
        <div class="span9">
            <div class="well">
                <strong>用户注册</strong>
                <hr>
                <form class="form-horizontal" action="/login" method="post" name="login">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">邮箱</label>
                        <div class="controls">
                            <input name="email" type="email" data-rule="required;email;" data-msg-required="不能为空" data-msg-email="错误邮箱" id="inputEmail" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">密码</label>
                        <div class="controls">
                            <input type="password" name="password" data-rule="length[6~];required;password;" data-msg-length="密码最少为6位。" data-msg-required="不能为空" id="inputPassword" placeholder="请输入密码" aria-invalid="true">
                        </div>
                    </div>
                    <% if(err == '1') { %>
                    <div class="control-group">
                        <label class="controls" style="color: red;font-size: 13px;" for="inputPassword">邮箱或密码错误</label>
                    </div>
                    <% } %>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-success" value="登录" />&nbsp;&nbsp;&nbsp;&nbsp;
                            还没账号？<a href="/signin<% if(to != undefined){ %>?to=<%=to%> <% } %>">注册</a>
                        </div>
                    </div>
                    <input type="hidden" name="to" <% if(to != undefined){ %>value="<%=to%>"<% } %> />
                </form>
            </div>
        </div>
        <%- include slider %>
    </div>
    <%- include footer %>
</div>
</body>
</html>

