<!DOCTYPE html>
<html>
<body>
<%- include header %>
<%- include login %>
<!--页面body部分-->
<div class="container">
    <div class="row">
        <div class="span9">  
            <div class="well">
                <strong>用户注册</strong>
                <hr>
                <form class="form-horizontal" action="/signin/save" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">邮箱</label>
                        <div class="controls">
                            <input name="email" type="email" required data-validation-ajax-ajax="/signin/check_email" aria-invalid="false" id="inputEmail" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">昵称</label>
                        <div class="controls">
                            <input name="nickname" type="text" required minlength="2" maxlength="12" data-validation-ajax-ajax="/signin/check_nickname" aria-invalid="false" id="inputNickName" placeholder="请输入昵称">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">密码</label>
                        <div class="controls">
                            <input type="password" name="password" required minlength="6" maxlength="18" id="inputPassword" placeholder="请输入密码" aria-invalid="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">确认密码</label>
                        <div class="controls">
                            <input type="password" required data-validation-match-match="password" id="inputPassword" placeholder="请再次输入密码" aria-invalid="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-success" value="注册" />
                        </div>
                    </div>
                    <input type="hidden" name="to" <% if(to != undefined){ %>value="<%=to%>"<% } %> />
                </form>
            </div>
        </div>
        <%- include slider %>
    </div>
    <%- include footer %>
</div>
</body>
<script>

</script>
</html>

