<!DOCTYPE html>
<html>
<body>
<style>
    .reply {
        cursor:pointer;
    }
</style>
<%- include header %>
<!--页面body部分-->
<div class="container">
    <div class="row">
        <div class="span9">
            <div class="well">
                <strong style="color: #049cdb;"><%=item.title%></strong>
                <hr>
                <div>
                    <%=item.content%>
                </div>
                <br>

                <small style="color: #949494;"><%=item.lookTime%>次浏览</small>&nbsp;&nbsp;&nbsp;&nbsp;
                <small style="color: #949494;"><%=item.friendly_createOn%></small>&nbsp;&nbsp;&nbsp;&nbsp;
                <%
                    if(user._id == item.createBy){
                %>
                <small onclick="window.location.href='/topic/<%=item._id%>/edit'" class="reply" style="color: #949494;font-size: 13px;" onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top" title data-original-title="编辑">
                    <i class="fa fa-pencil-square-o"></i>
                </small>
                <%
                    }
                %>
                <hr>
                <!--第一层评论开始-->
                <%
                    for(var c = 0;c < comlist.length;c++) {
                        var com = comlist[c];
                %>
                <div id="reply_<%=com._id%>" class="text" style="border-bottom: 1px dashed #DEDEDE;margin-top: 10px;padding-bottom: 10px;">
                    <a class="pull-left" href="/user/<%=item.createBy%>" onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top" title data-original-title="<%=user.nickname%>">
                        <img class="img-circle" style="width: 30px;height: 30px;" src="http://avatar.youqu.de/16106.1404026495.jpg">
                    </a>
                    <div style="line-height: 30px; padding-left: 40px;">
                        <font class="text"><%=com.content%></font>
                        <span class="pull-right" style="font-size: 12px;color: #949494;line-height: 30px;">
                            <%
                                if(user.is_login == true) {
                            %>
                            <span onclick="reply('<%= user.nickname %>')" class="reply" onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top" title data-original-title="回复">
                                <i class="fa fa-reply"></i>
                            </span>&nbsp;&nbsp;
                            <%if(user._id == com.author_id) {%>
                            <span class="reply" onclick="delete_com('<%=com._id%>');" onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" data-placement="top" title data-original-title="删除">
                                <i class="fa fa-times"></i>
                            </span>
                            <%}%>
                            <%
                                }
                            %>
                            &nbsp;&nbsp;<%= c+1 %>楼&nbsp;|&nbsp;<%=com.friendly_createOn%>
                        </span>
                    </div>
                </div>
                <%
                    }
                %>
                <!--第一层评论结束-->
                <%
                    if(user.is_login == false) {
                %>
                <div style="margin-top: 20px;">欢迎来到09441社区！09441是一个神奇的班级。</div><br>
                <a href="/login?to=/topic/<%=item._id%>" class="btn btn-success">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/signin?to=/topic/<%=item._id%>" class="btn btn-warning">注册</a>
                <%
                    }else {
                %>
                <form action="/comment" method="post" style="margin-top: 20px;">
                    <textarea id="reply_content" name="content" rows="5" style="max-width: 645px;width: 645px;" required></textarea><br>
                    <input type="hidden" name="topic_id" value="<%=item.id%>" >
                    <input type="hidden" name="reply_id" value="<%=item.createBy%>" >
                    <input class="btn btn-success" type="submit">&nbsp;&nbsp;<small>(按Ctrl + enter回复)</small>
                </form>
                <%
                    }
                %>
            </div>
        </div>
        <%- include slider %>
    </div>
    <%- include footer %>
</div>
</body>
<script>
    function reply(nickname) {
        $("#reply_content").focus();
        if ($("#reply_content").val().indexOf('@' + nickname) < 0) {
            $("#reply_content").val('@' + nickname + ' ');
        }
    }
    //删除本人回复
    function delete_com(id) {
        var url = '/comment/del';
        if (confirm('你确定要删除吗？')) {
            $.ajax({
                type: 'post',
                url: url,
                data: {id:id},
                success: function(data){
                    if(data == 1) {
                        $("#reply_"+id).remove();
                    }
                }
            });
        }
    }

    //设置键盘事件
    $('#reply_content').keydown(function(event) {
        if (event.keyCode == 13 && (event.ctrlKey || event.metaKey)) {
            event.preventDefault();
            $(this).closest('form').submit()
        }
    });
</script>
</html>

