<!DOCTYPE html>
<html>
<body>
<style>
    .text {
        letter-spacing:0.5px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1em;
    }
    .reply {
        cursor:pointer;
    }
</style>
<%- include header %>
<!--页面body部分-->
<div class="container">
    <div class="row">
        <div class="span9">
            <div class="well">
                <strong style="color: #049cdb;"><%=item.title%></strong>
               <small class="pull-right" style="color: #949494;margin-left: 10px;"><%=item.friendly_createOn%></small>
                <small class="pull-right" style="color: #949494;"><%=item.lookTime%>次浏览</small>
                <!-- <hr> -->
                <div class="text" style="margin-top:15px;">
                    <form action="" method="post">
                        <!-- <textarea name="content" rows="9" style="max-width: 645px;width: 645px;" required><%=item.content%></textarea> -->
                        <%- include public/edit %>
                        <input type="hidden" name="id" value="<%=item._id%>">
                        <input type="submit" class="btn btn-success">
                    </form>
                </div><br>


            </div>
        </div>
        <%- include slider %>
    </div>
    <%- include footer %>
</div>
</body>

</html>

